body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  #background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(50%);
  }
  nav {
    margin-top: 12px;
    float: right;
    font-family: sans-serif;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 23px;
  
    position: relative;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s;
  }
  nav ul li a:hover
{
    -webkit-text-stroke: 0.5px white;
    color: transparent;
}
.container-nav
{
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
  .box{
    margin-top: 20%;
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 15px;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  